functions
it is a block of reusable code that performs specific task and can take input (parameters) and return output 
define using def keyword
def function_name(parameters(optional)):
body of function
return something(optional)
-function declaration
-function definition
-funtion calling

In [ ]:
# no parameter, no return

In [9]:

#definition of function
def say_hello_world():
    print("hello world!")

In [10]:
#calling a function
say_hello_world()

hello world!

In [ ]:
#parameter but no return

In [11]:
def greet(name):
    print(f"Hello, {name}")

In [13]:
greet("Ram")

Hello, Ram

In [14]:
greet("Hari")

Hello, Hari

In [15]:
greet("Shyam")

Hello, Shyam

parameter and return

In [22]:
def sum(a,b):
    s= a + b
    return s

In [23]:
s = sum(3, 4)
print(s)

7

In [24]:
print(sum(5, 6))

11

print(sum(5.6, 6.3))

In [25]:
print(sum(5.6, 6.3))

11.899999999999999

In [26]:
sum(55, 2)

57

In [27]:
def multiply(a,b,c):
    multiply= a * b * c
    return multiply

In [31]:
multiply(2,2,5)

20

multiply(4,5)

In [32]:
multiply(3,8)

TypeError: multiply() missing 1 required positional argument: 'c'

In [33]:
def multiply(a,b,c):
   return a* b* c

In [34]:
multiply(1,2,3)

6

In [35]:
def multiply(a,b):
    return a* b

In [36]:
multiply(4,5)

20

Default argument

In [42]:
def multiply(a,b=1,c=1):
    return a*b*c

In [38]:
multiply(3,4)

12

In [39]:
multiply(3,3,3)

27

In [43]:
multiply(5)

5

In [7]:
def display_info(name, age, *args):
    print(f"Name: {name}")
    print(f"Age: {age}")

    if len(args) > 0:
        print(f"address:{args[0]}")
    if len(args) > 1:
        print(f" Working: {args[1]}")

In [8]:
display_info("Ram", 21)

Name: Ram
Age: 21

In [9]:
display_info("Ram", 21, "Kathmandu", "not yet")

Name: Ram
Age: 21
address:Kathmandu
 Working: not yet

In [10]:
name = "Hari"
age = 20
address = "Kathmandu"
working = "Not yet"

In [11]:
display_info(name, age)

Name: Hari
Age: 20

In [12]:
display_info(name, age, address, working)

Name: Hari
Age: 20
address:Kathmandu
 Working: Not yet

In [16]:
def my_info(*args, **kwargs):
    print("Positional arguments:")
    for arg in args:
        print(arg)
    print("Keyword arguments:")
    print(kwargs)

In [19]:
my_info(name="Ram", age=21)

Positional arguments:
Keyword arguments:
{'name': 'Ram', 'age': 21}

In [18]:
my_info("Kathmandu", 1, 2, name="Ram", age =21)

Positional arguments:
Kathmandu
1
2
Keyword arguments:
{'name': 'Ram', 'age': 21}

In [23]:
def my_info(*args, **kwargs):
    print("Positional arguments:")
    print(args)
    for item in args:
        print(item)
    print("Keyword arguments:")
    print(kwargs)
    for item in kwargs:
        print(f"{item}:{kwargs[item]}")

In [24]:
my_info("Kathmandu", 1, 2, name="Ram", age =21)

Positional arguments:
('Kathmandu', 1, 2)
Kathmandu
1
2
Keyword arguments:
{'name': 'Ram', 'age': 21}
name:Ram
age:21